html {
    font-family: rosario;
    font-size: 70%;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: rgba(202, 144, 128, 1);
    text-decoration: none;
}

#main-left {
    margin-left: -8px;
    margin-top: -8px;
    width: 100vw;
    height: 10%;
}

#main-left .photo-frame {
    width: auto;
    height: 100vh;
    overflow: hidden;
}

#main-left .photo-frame img {
    margin: 0;
    image-orientation: from-image;
    width: auto;
    height: 100vh;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.main-header {
    text-align: center;
    font-size: 6rem;
}

#main-left .text-over-photo {
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -40vw;
    text-align: center;
    width: 80%;
    height: auto;
    z-index: 10;
    color: white;
    padding: 4rem;
    border-radius: 3rem;
    /* background-color: rgba(255, 255, 255, 0.2); */
}

#main-right {
    width: 100vw;
    min-height: 100vh;
}

#lang-select {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
    background-color: rgba(110, 110, 110, 0.3);
    z-index: 10;
    border-radius: 1.5rem;
}

#lang-flag {
    margin: 1rem;
    height: 3rem;
    width: 6rem;
}

#main-right .top-panel {
    width: 100vw;
    height: 80vh;
    position: relative;
    margin-left: -8px;
}

#invitation-img {
    min-width: 320px;
    min-height: 600px;
    width: 100vw;
    height: 100%;
}

#details-cont {
    display: none;
    cursor: pointer;
}

#details-arrow-down {
    display: none;
}

#details-arrow-down-white {
    margin-top: 50px;
    position: relative;
    width: 6rem;
    height: 2rem;
    -webkit-animation: bounce 3s infinite;
}

@-webkit-keyframes bounce {
    0%          { bottom: 8px; }
    40%, 60%    { bottom: 8px; }
    50%, 70%    { bottom: -8px; }
    100%        { bottom: 8px; }

  }

.right-panel {
    display: flex;
    flex-direction: column;
    font-family: rosario;
    padding: 12rem 9rem;
    min-height: 70vh;
}

.centered {
    text-align: center;
}

.email-address {
    margin-top: 5rem;
}

#main-right .centered-textbox {
    position: absolute;
    float: left;
    height: 20%;
    width: 100vw;
    top: 40%;
    text-align: center;
    font-size: 4rem;
}

.font-josefin-sans {
    font-family: josefin-sans;
}

.font-sophbel {
    font-family: sophia-bella;
}

#main-right div.separator {
    height: 1px;
    width: 100vw;
    background-color: rgb(170, 170, 170);
}

#open-rsvp-button {
    font-family: rosario;
    font-size: 3.2rem;
    margin-top: 50px;
    padding: 1.5rem;
    min-width: max-content;
    max-width: 80%;
    width: 40%;
    height: 8rem;
    background-color: ivory;
    /* color: white; */
    border-radius: 2.5rem;
    /* border: 1px solid rgb(61, 61, 61) */
}

#open-rsvp-button:hover {
    border: 2px solid rgb(61, 61, 61);
    cursor: pointer;
}

.flash {
    position: absolute;
    z-index: 101;
    top: 24vh;
    width: 80vw;
    opacity: 0;
    margin: 0 10vw;
    padding: 2rem;
    font-size: 5rem;
    border-radius: 2rem;
    text-align: center;
    color: white;
    background-color: rgba(71, 71, 71, 0.5);
}

.mu-green {
    color: rgb(123, 158, 123);
}

.mu-red {
    color: rgb(184, 137, 123);
}

.one-off-sep {
    margin-top: 0;
    text-align: center;
    font-size: 1.7rem;
}

#maps-iframe {
    width: 90vw; 
    height: 60vw;
    max-width: 100%;
}

p.address {
    margin: 0;
}

#more-questions {
    text-align: center;
}

#close-message-btn {
    font-family: rosario;
    margin-top: 2rem;
    width: 10rem;
    height: 6rem;
    font-size: 3rem;
    background-color: rgb(226, 226, 226);
    border-radius: 1rem;
    border: 1px solid rgb(51, 51, 51);
}

#close-message-btn:hover {
    cursor: pointer;
}

.faq-ol {
    list-style-position: outside;
}

ul.pub-tran {
    margin-top: 0;
}

ul.pub-tran li {
    padding-bottom: 10px;
}

.faq-question {
    font-weight: bold;
    margin: 0;
    padding: 0 0.5em;
}

.faq-answer {
    margin: 8px 1rem 30px;
}

#rsvp-main {
    min-height: 100vh;
    padding: 9rem 0 5rem;
    width: 100%;
    margin: 0;
    background-color: rgb(233, 233, 233);
    overflow: scroll;
}

.rsvp-centered {
    background-color: white;
    width: 90vw;
    padding: 5vh 10vw;
    min-height: 500px;
    height: max-content;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px 0px;
	/* max-width: 540px; */
	border-radius: 5px;
}

.rsvp-details {
    padding: 0.5rem;
    text-align: center;
}

.rsvp-details p {
    margin: 0.5rem;
}

.rsvp-header {
    font-size: 9rem;
}

.rsvp-details {
    font-size: 4rem;
}

.rsvp-form-container {
    margin: 5vw 0 0;
}

.rsvp-form {
    display: grid;
    grid-template-columns: 100%;
}

.rsvp-form input[type="text"], .rsvp-form input[type="number"] {
    border: 1px solid rgb(184, 184, 184);
    display: block;
    padding: 2rem 3rem;
    font-size: 3rem;
    font-family: rosario;
    margin: 8px 5%;
    width: 90%;
    height: 10rem;
    color: rgb(51, 51, 51);
}

.rsvp-form button {
    font-family: rosario;
}

.rsvp-form .rsvp-button {
    display: block;
    background-color: white;
    border: 1px solid rgb(184, 184, 184);
    padding: 0 4rem;
    font-size: 3rem;
    border-radius: 4rem;
    height: 10rem;
    min-width: max-content;
    max-width: 200px;
    width: 50%;
    margin: 5px auto;
}

.rsvp-form .rsvp-button.selected {
    border: rgb(53, 53, 53) 3px solid;
    background-color: rgb(231, 231, 231);
}

.rsvp-form textarea {
    margin: 8px 5%;
    border: 1px solid rgb(184, 184, 184);
    font-family: rosario;
    padding: 2rem 3rem;
    font-size: 3rem;
    width: 90%;
    color: rgb(51, 51, 51);
}

.rsvp-form button[type="submit"] {
    display: block;
    background-color: rgb(24, 71, 57);
    color: white;
    border-radius: 3rem;
    height: 10rem;
    margin: 5px 5%;
    font-size: 4rem;
}

button {
    color: rgb(27, 27, 27)
}

.btc-main {
    position: relative;
    top: 10vh;
    text-align: center;
}

.btc-main h1 {
    font-size: 4rem;
}

.btc-main h2 {
    font-size: 2rem;
}

#btc-png {
    margin-top: 10vh;
    width: 50vw;
    min-width: 100px;
    max-width: 700px;
}

.get-in-touch-panel {
    padding-bottom: 0;
}

#lilies {
    display: block;
    margin: auto;
    margin-top: 10vh;
    max-width: 40vh;
    height: auto;
}

/* Smartphones ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

    .text-over-photo .names {
        font-size: 8rem;
    }

    .text-over-photo .content {
        font-size: 5rem;
    }

    .location-title {
        font-size: 8rem;
    }

    .right-panel {
        font-size: 3.5rem;
        padding: 15rem 12rem;
    }

    .main-header {
        font-size: 10rem;
    }

}

/* iPads ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1023px) {

    html {
        font-family: rosario;
        font-size: 70%;
    }    

    .text-over-photo .names {
        font-size: 4rem;
    }

    .text-over-photo .content {
        font-size: 2.5rem;
    }

    .location-title {
        font-size: 5rem;
    }

    #lang-flag {
        height: 2.5rem;
        width: 5rem;
        margin: 0.8rem;
    }

    #main-right .top-panel {
        width: 100vw;
        height: 90vh;
        position: relative;
        margin-left: -8px;
    }

    .right-panel {
        font-size: 2rem;
        padding: 15rem 15rem;
    }

    #main-right .centered-textbox {
        font-size: 2rem;
    }

    #open-rsvp-button {
        height: 6rem;
        font-size: 2rem;
    }

    .main-header {
        text-align: center;
        font-size: 6rem;
    }
    .flash {
        top: 24vh;
        width: 64vw;
        margin: 0 18vw;
        padding: 1.4rem;
        font-size: 2.5rem;
        border-radius: 2rem;
    }

    .flash .mu {
        font-size: 4rem;
    }

    #close-message-btn {
        margin-top: 2rem;
        width: 7rem;
        height: 4rem;
        font-size: 2rem;
        background-color: rgb(226, 226, 226);
        border-radius: 1rem;
    }

    .rsvp-centered {
        width: 60vw;
        padding: 8vh 2vw;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px 0px;
        border-radius: 5px;
    }

    .rsvp-details p {
        margin: 0.5rem;
    }

    .rsvp-header {
        font-size: 4rem;
    }

    .rsvp-details {
        font-size: 2rem;
    }

    .rsvp-form {
        display: grid;
        grid-template-columns: 100%;
    }

    .rsvp-form input[type="text"], .rsvp-form input[type="number"] {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        font-family: rosario;
        margin: 8px auto;
        width: 80%;
        height: 4rem;
        color: rgb(51, 51, 51);
    }

    .rsvp-form .rsvp-button {
        padding: 0 1rem;
        font-size: 1.5em;
        border-radius: 3px;
        height: 3.5rem;
        width: 50%;
        margin: 5px auto;
    }

    .rsvp-form .rsvp-button.selected {
        border: rgb(53, 53, 53) 1.5px solid;
        background-color: rgb(235, 235, 235);
    }

    .rsvp-form textarea {
        margin: 8px auto;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        width: 80%;
    }

    .rsvp-form button[type="submit"] {
        display: block;
        background-color: rgb(24, 71, 57);
        color: white;
        border-radius: 3rem;
        height: 4rem;
        width: 80%;
        margin: 50px auto;
        font-size: 2rem;
    }

}


/* Medium screens ----------- */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1535px) {

    #main-left {
        background-attachment: fixed;
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        width: 60vw;
    }

    #main-left .text-over-photo-container {
        position: relative;
        bottom: 40%;
        left: 16%;
        height: 30%;
        width: 68%;
        z-index: 0;
    }

    #main-left .text-over-photo {
        position: static;
        margin: 0 auto 20%;
        text-align: center;
        height: auto;
        max-width: max-content;
    }

    .text-over-photo .names {
        font-size: 3rem;
    }

    .text-over-photo .content {
        font-size: 2.5rem;
    }

    .location-title {
        font-size: 3rem;
    }

    #main-right {
        height: 100vw;
        width: 40vw;
        max-width: 40%;
        position: absolute;
        top: 0;
        left: 60%;
    }

    #lang-flag {
        height: 2rem;
        width: 4rem;
        margin: 0.8rem;
    }

    #main-right .centered-textbox {
        font-size: 2rem;
        width: 100%;
        margin: 20% auto;
        float: left;
        position: absolute;
        left: 0px;
        top: 30%;
    }

    #main-right .top-panel {
        width: 100%;
        height: 100vh;
        top: 0;
        margin-left: 0;
    }

    .right-panel {
        padding: 7rem 4rem;
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;
    }

    .schedule {
        height: 100%;
        background-color: black;
    }

    #maps-iframe {
        width: 600px; 
        height: 400px;
    }

    #invitation-img {
        width: 100%;
        height: 100%;
    }

    #details-cont {
        display: initial;
        cursor: pointer;
    }
    
    #details-arrow-down {
        display: initial;
        position: relative;
        margin: 0 auto;
        width: 65px;
        height: 15px;
        -webkit-animation: bounce 3s infinite;
    }

    #details-arrow-down-white {
        display: none;
    }

    #main-right div.separator {
        height: 1px;
        width: 100%;
        background-color: rgb(168, 168, 168);
    }

    #main-right .rsvp-button-container {
        padding: 50px;
    }

    #open-rsvp-button {
        height: 5.5rem;
        font-size: 1.7rem;
        margin-top: 0;
        width: 30%;
        border-radius: 1rem;
        border: 1px solid rgb(61, 61, 61)
    }

    .flash {
        top: 24vh;
        width: 56%;
        margin: 0 22%;
        padding: 1.2rem;
        font-size: 2rem;
        border-radius: 2rem;
    }

    #close-message-btn {
        margin-top: 1rem;
        width: 5rem;
        height: 3rem;
        font-size: 1.4rem;
        background-color: rgb(226, 226, 226);
        border-radius: 1rem;
    }

    .rsvp-centered {
        width: 40vw;
        padding: 8vh 2vw;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px 0px;
        border-radius: 5px;
    }

    .rsvp-details p {
        margin: 0.5rem;
    }

    .rsvp-header {
        font-size: 4rem;
    }

    .rsvp-details {
        font-size: 2rem;
    }

    .rsvp-form {
        display: grid;
        grid-template-columns: 100%;
    }

    .rsvp-form input[type="text"], .rsvp-form input[type="number"] {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        font-family: rosario;
        margin: 8px auto;
        width: 80%;
        height: 4rem;
        color: rgb(51, 51, 51);
    }

    .rsvp-form .rsvp-button {
        padding: 0 1rem;
        font-size: 1.5em;
        border-radius: 1rem;
        height: 3.5rem;
        width: 50%;
        margin: 5px auto;
    }

    .rsvp-form .rsvp-button.selected {
        border: rgb(53, 53, 53) 1.5px solid;
        background-color: rgb(235, 235, 235);
    }

    .rsvp-form textarea {
        margin: 8px auto;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        width: 80%;
    }

    .rsvp-form button[type="submit"] {
        display: block;
        background-color: rgb(24, 71, 57);
        color: white;
        border-radius: 3rem;
        height: 4rem;
        width: 80%;
        margin: 50px auto;
        font-size: 2rem;
    }

    .main-header {
        text-align: center;
        font-size: 4rem;
    }

    
}

/* Large screens ----------- */
@media only screen
and (min-device-width: 1536px) {

    #main-left {
        background-attachment: fixed;
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        width: 60vw;
    }

    #main-left .text-over-photo-container {
        position: absolute;
        bottom: 10%;
        width: 60vw;
        z-index: 0;
    }

    #main-left .text-over-photo {
        bottom: 30%;
        width: 100%;
        left: initial;
        margin-left: initial;
        height: auto;
    }

    .text-over-photo .content {
        font-size: 1.5rem;
    }

    .text-over-photo .names {
        font-size: 6rem;
    }

    .text-over-photo .content {
        font-size: 3rem;
    }

    .location-title {
        font-size: 5rem;
    }

    #main-right {
        height: 100vw;
        width: 39vw;
        max-width: 40%;
        position: absolute;
        top: 0;
        left: 60vw;
    }

    #lang-flag {
        height: 2rem;
        width: 4rem;
        margin: 0.8rem;
    }

    #main-right .centered-textbox {
        font-size: 2.8rem;
        width: 100%;
        margin: 20% auto;
        float: left;
        position: absolute;
        left: 0px;
        top: 30%;
    }

    #main-right .details-note {
        font-size: 2rem;
        padding-top: 20px;
    }

    #main-right .top-panel {
        width: 100%;
        height: 100vh;
        top: 0;
        margin-left: 0;
    }

    .right-panel {
        padding: 8rem 8rem;
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;
    }

    .schedule {
        height: 100%;
        background-color: black;
    }

    #maps-iframe {
        margin-top: 20px;
        width: 600px; 
        height: 400px;
    }

    #invitation-img {
        width: 100%;
        height: 100%;
    }

    #details-cont {
        display: initial;
        cursor: pointer;
    }
    
    #details-arrow-down {
        display: initial;
        position: relative;
        margin: 0 auto;
        width: 65px;
        height: 15px;
        -webkit-animation: bounce 3s infinite;
    }

    #details-arrow-down-white {
        display: none;
    }

    #main-right div.separator {
        height: 1px;
        width: 100%;
        background-color: rgb(168, 168, 168);
    }

    #main-right .rsvp-button-container {
        padding: 50px;
    }

    .btc-main {
        top: 20vh;
    }

    #btc-png {
        width: 10vw;
    }

    #open-rsvp-button {
        height: 5.5rem;
        font-size: 2rem;
        margin-top: 0;
        width: 30%;
        border-radius: 1rem;
        border: 1px solid rgb(61, 61, 61)
    }

    .flash {
        top: 24vh;
        width: 56%;
        margin: 0 22%;
        padding: 2rem;
        font-size: 3rem;
        border-radius: 2rem;
    }

    #close-message-btn {
        margin-top: 2rem;
        width: 7rem;
        height: 4rem;
        font-size: 2rem;
        background-color: rgb(226, 226, 226);
        border-radius: 1rem;
    }

    .rsvp-centered {
        width: 40vw;
        padding: 8vh 2vw;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px 0px;
        border-radius: 5px;
    }

    .rsvp-details p {
        margin: 0.5rem;
    }

    .rsvp-header {
        font-size: 4rem;
    }

    .rsvp-details {
        font-size: 2rem;
    }

    .rsvp-form {
        display: grid;
        grid-template-columns: 100%;
    }

    .rsvp-form input[type="text"], .rsvp-form input[type="number"] {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        font-family: rosario;
        margin: 8px auto;
        width: 80%;
        height: 4rem;
        color: rgb(51, 51, 51);
    }

    .rsvp-form .rsvp-button {
        padding: 0 1rem;
        font-size: 1.5em;
        border-radius: 1rem;
        height: 3.5rem;
        width: 50%;
        margin: 5px auto;
    }

    .rsvp-form .rsvp-button.selected {
        border: rgb(53, 53, 53) 1.5px solid;
        background-color: rgb(235, 235, 235);
    }

    .rsvp-form textarea {
        margin: 8px auto;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        width: 80%;
    }

    .rsvp-form button[type="submit"] {
        display: block;
        background-color: rgb(24, 71, 57);
        color: white;
        border-radius: 3rem;
        height: 4rem;
        width: 80%;
        margin: 50px auto;
        font-size: 2rem;
    }

    .get-in-touch-panel {
        display: block;
        margin: auto;
        padding-bottom: 0;
    }
}



/* Fonts */
@font-face {
    font-family: rosario;
    src: url('/static/fonts/SourceSansPro.otf');
}

@font-face {
    font-family: josefin-sans;
    src: url('/static/fonts/josefin-sans.ttf');
}

@font-face {
    font-family: sophia-bella;
    src: url('/static/fonts/sophia-bella.ttf');
}
