<!DOCTYPE html>
<head>
    <title>Ay-Bryson</title>
    
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>
    <div id="main-left">
        <div class="photo-frame">
            <img src="{{ url_for('static', filename='photos/DSC_0326.JPG') }}">
        </div>
        <div class="text-over-photo">
            <div class="title">Destina & Sam</div>
            <div class="content">want to celebrate with you</div>
            <!-- <div class="content">are getting married</div> -->
        </div>
    </div>
    <div id="main-right">
        <div class="top-panel">
            <img id="invitation-img" src="{{ url_for('static', filename='photos/invitation.png') }}">
            <div class="centered-textbox">
                <div class="location-title">
                    Berlin, Germany
                </div>
                <div class="date">
                    Saturday, 22 August 2020
                </div>
                <div>
                    <button id="open-rsvp-button" onclick="window.location.href = '/rsvp'">RSVP Here</button>
                </div>
            </div>
        </div>

        <!-- <div class="separator"></div> -->

        <div class="wedding-details right-panel">
            <div class="header2 font-sacramento">Schedule</div>
            Coming soon...


            <!-- <div class="schedule-item">
                08:00 Wake up
            </div>
            <div class="schedule-item">
                08:15 Eat breakfast
            </div> -->
        </div>

        <div class="separator"></div>

        <div class="schedule right-panel">
            <div class="header2 font-sacramento">Contact</div>

            Contact us at: ay-bryson@posteo.net
            
        </div>
    </div>
</body>