<!DOCTYPE html>
<head>
    <title>Ay-Bryson</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>
    <div class="page-content">
        Hello, Dickilein! Will you be coming to our wedding on 22 August 2020?

        <div class="form-message">
            {% if msg %}
                {{ msg }}
            {% endif %}
        </div>
            
        <form class="rsvp-form" method="POST">
            <label for="name" class="rsvp-label">Name</label>
            <input id="name" class="rsvp-input" type="text" name="name">
            <label for="email" class="rsvp-label">Email Address</label>
            <input id="email" class="rsvp-input" type="text" name="email">
            <label for="attending-yes" class="rsvp-label">I will be attending</label>
            <input id="attending-yes" class="rsvp-input" type="radio" name="attending" value="1">
            <label for="attending-no" class="rsvp-label">I will not be attending</label>
            <input id="attending-no" class="rsvp-input" type="radio" name="attending" value="0">
            <label for="attendees" class="rsvp-label">Number of guests</label>
            <input id="attendees" class="rsvp-input" name="attendees" type="number">
            <label for="message" class="rsvp-label">Message (optional)</label>
            <input id="message" class="rsvp-input" type="text" name="message">
            <button type="submit" class="rsvp-button">Submit</button>
        </form>
    </div>
</body>